# Unity
/Library
/Temp
*.unityproj

# Visual Studio
/obj
*.cache
*.suo
*.DotSettings*
_UpgradeReport_Files

# Random Stuff
UnityVS.uFrame.sln.GhostDoc.xml
Invert.uFrame.Editor/ElementDesigner/Data/PluginData.cs
sysinfo.txt

# Is this still around?
CarExample*

# 3rd Party Plugins/Tools etc.
FluentCodeDom
Assets/AssetStoreTools*
Assets/PrivateStuff*
Assets/XmlDocs*
Assets/**/UnityVS*
Assets/uTomate*
**/FPSShooter/**/Playmaker*

# Dont Track
Assets/DiagramTests*
Assets/Packages*
Assets/Tests*
Assets/Scenes*
**/SceneManager.psd*
Assets/Untracked*

# Debug Builds
**/Debug/Invert*

# Release Builds
Invert.uFrame.Editor/obj/Release/Invert.uFrame.Editor.dll
